name: Release chart

on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install Helm
        uses: azure/setup-helm@v4.3.1

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0

      - name: Authenticate with GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Replace version value in Chart manifest
        run: |
          sed -i 's/REPLACE_VERSION/${{ github.ref_name }}/' charts/secret/Chart.yaml

      - name: Package chart
        run: |
          helm package charts/secret/

      - name: Push chart
        run: |
          helm push *.tgz oci://ghcr.io/${{ github.repository }}

      - name: Sign artifacts with Cosign
        run: |
          cosign sign --yes ghcr.io/${{ github.repository }}/secret:${{ github.ref_name }}
